In [ ]:
!pip install htmltext
!pip install prettify
!pip install selenium
!apt-get update # to update ubuntu to correctly run apt install
!apt install chromium-chromedriver
!sudo apt install libmysqlclient-dev
!pip install mysql
!pip install mysql-connector-python-rf


#!cp /usr/lib/chromium-browser/chromedriver /usr/bin
import sys
sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

from datetime import datetime, date
import htmltext
import lxml
from lxml.html.soupparser import fromstring
import math
import mysql.connector
import numbers
import os
import prettify
from pytz import timezone
import pytz
from random import randint
import regex as re
import subprocess
import sys
import time

import requests
from bs4 import BeautifulSoup
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split as holdout
from sklearn.preprocessing import PolynomialFeatures
from sklearn import metrics
import numpy as np
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.datasets import load_iris 
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt
import numpy
from sklearn.model_selection import train_test_split
print(tf.__version__)

Requirement already satisfied: htmltext in /usr/local/lib/python3.7/dist-packages (0.0.7)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from htmltext) (4.2.6)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from htmltext) (4.6.3)
Requirement already satisfied: prettify in /usr/local/lib/python3.7/dist-packages (0.1.1)
Requirement already satisfied: selenium in /usr/local/lib/python3.7/dist-packages (3.141.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from selenium) (1.24.3)
Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:3 http://security.ubuntu.com/ubuntu bionic-security InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:13 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [889 kB]
Fetched 905 kB in 4s (203 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
chromium-chromedriver is already the newest version (87.0.4280.66-0ubuntu0.18.04.1).
0 upgraded, 0 newly installed, 0 to remove and 29 not upgraded.
Reading package lists... Done
Building dependency tree
Reading state information... Done
libmysqlclient-dev is already the newest version (5.7.33-0ubuntu0.18.04.1).
0 upgraded, 0 newly installed, 0 to remove and 29 not upgraded.
Requirement already satisfied: mysql in /usr/local/lib/python3.7/dist-packages (0.0.2)
Requirement already satisfied: mysqlclient in /usr/local/lib/python3.7/dist-packages (from mysql) (2.0.3)
Requirement already satisfied: mysql-connector-python-rf in /usr/local/lib/python3.7/dist-packages (2.2.2)
2.4.1

In [ ]:
np.set_printoptions(precision=3, suppress=True)

In [ ]:
header = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36",
    "Accept-Language": "en-US,en;q=0.9"
}

In [ ]:
urls = []
links = []
x = 'https://www.zillow.com/homes/{}_rb/'
zip_code = ['10022', '10007', '10469', '11693', '11203']
#'95035','95036','95032','95030','95038','95051'

In [ ]:
# create links with different zip codes and add into url list
for i in zip_code:
    new_link = x.format(i)
    urls.append(new_link)

In [ ]:
print(len(urls))
print(urls)

5
['https://www.zillow.com/homes/10022_rb/', 'https://www.zillow.com/homes/10007_rb/', 'https://www.zillow.com/homes/10469_rb/', 'https://www.zillow.com/homes/11693_rb/', 'https://www.zillow.com/homes/11203_rb/']

In [ ]:

price = []
bed=[]
bath=[]
sqft=[]
house_info=[]
address = []
real_estate = []
last_updated = []
links = []

for url in urls:
    response = requests.get(url, headers=header)
    data = response.text
    soup = BeautifulSoup(data, 'html.parser')

    amount = list(soup.find_all('div', class_='list-card-price'))

    for i in amount:
        price.append(i.text)

    for house in soup.find_all('ul', class_='list-card-details'):
        house_info.append([i.text for i in house.find_all('li', class_='')])

    x = list(soup.find_all('address', class_='list-card-addr'))
    for i in x:
        address.append(i.text)
    
    
    #detail = soup.find_all('div', {'class': 'list-card-details'}) #This doesn't seem to work, but looks useful
    #for i in detail:
    #    details.append(detail)
        
    types = list(soup.find_all('div', {'class': 'list-card-footer'}))
    for i in types:
        real_estate.append(i.text)
        
    updated = list(soup.find_all('div', {'class': 'list-card-top'}))
    for i in updated:
        last_updated.append(i.text)
        
    link = list(soup.find_all('a',class_= 'list-card-link list-card-link-top-margin'))
    for i in link:
        links.append(i.get('href'))

In [ ]:
print(links[20])

https://www.zillow.com/homedetails/136-E-56th-St-APT-4G-New-York-NY-10022/244871286_zpid/

In [ ]:
np.set_printoptions(precision=3, suppress=True)

In [ ]:
header = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36",
    "Accept-Language": "en-US,en;q=0.9"
}

In [ ]:
img=[]
for link in links:
    response = requests.get(link, headers=header)
    data = response.text
    soup = BeautifulSoup(data, 'html.parser')
    #im = list(soup.find_all('div', class_="list-card-top")[0])
    im = list(soup.find_all('div', class_='hdp-photo-carousel'))
    for i in im:
        image=i.find_all('img')[0]
        img.append(image.get('src'))

In [ ]:
print(len(price))
print(len(house_info))
print(len(address))
print(len(real_estate))
print(len(last_updated))
print(len(links))
print(len(img))

181
181
181
181
181
181
181

In [ ]:
print(links)

['https://www.zillow.com/homedetails/419-E-57th-St-APT-12C-New-York-NY-10022/82774987_zpid/', 'https://www.zillow.com/homedetails/420-E-55th-St-APT-1F-New-York-NY-10022/2076494300_zpid/', 'https://www.zillow.com/homedetails/110-E-57th-St-APT-3F-New-York-NY-10022/2073393313_zpid/', 'https://www.zillow.com/homedetails/212-E-57th-St-APT-5C-New-York-NY-10022/80014153_zpid/', 'https://www.zillow.com/homedetails/303-E-57th-St-APT-9H-New-York-NY-10022/2073522885_zpid/', 'https://www.zillow.com/homedetails/220-E-60th-St-APT-9D-New-York-NY-10022/143150212_zpid/', 'https://www.zillow.com/homedetails/135-E-54th-St-APT-12G-New-York-NY-10022/31528441_zpid/', 'https://www.zillow.com/homedetails/220-E-60th-St-APT-9C-New-York-NY-10022/31535808_zpid/', 'https://www.zillow.com/homedetails/303-E-57th-St-37DE-New-York-NY-10022/2073572102_zpid/', 'https://www.zillow.com/homedetails/333-E-53rd-St-APT-4G-New-York-NY-10022/72525655_zpid/', 'https://www.zillow.com/homedetails/425-E-58th-St-APT-33H-New-York-NY-10022/244873959_zpid/', 'https://www.zillow.com/homedetails/405-E-50th-St-New-York-NY-10022/31532386_zpid/', 'https://www.zillow.com/homedetails/60-Sutton-Pl-S-APT-7AN-New-York-NY-10022/244869985_zpid/', 'https://www.zillow.com/homedetails/227-E-57th-St-APT-7D-New-York-NY-10022/244793730_zpid/', 'https://www.zillow.com/homedetails/415-E-52nd-St-APT-10KC-New-York-NY-10022/72526291_zpid/', 'https://www.zillow.com/homedetails/255-E-49th-St-31ABF-New-York-NY-10022/2077585939_zpid/', 'https://www.zillow.com/homedetails/320-E-57th-St-11D-New-York-NY-10022/244887676_zpid/', 'https://www.zillow.com/homedetails/447-E-57th-St-15-New-York-NY-10022/2073670373_zpid/', 'https://www.zillow.com/homedetails/434-E-52nd-St-APT-6D-New-York-NY-10022/219679867_zpid/', 'https://www.zillow.com/homedetails/227-E-57th-St-APT-8B-New-York-NY-10022/94639117_zpid/', 'https://www.zillow.com/homedetails/136-E-56th-St-APT-4G-New-York-NY-10022/244871286_zpid/', 'https://www.zillow.com/homedetails/16-Sutton-Pl-FLOOR-18B-New-York-NY-10022/123174566_zpid/', 'https://www.zillow.com/homedetails/118-E-60th-St-APT-27H-New-York-NY-10022/89666667_zpid/', 'https://www.zillow.com/homedetails/245-E-54th-St-APT-17D-New-York-NY-10022/119907774_zpid/', 'https://www.zillow.com/homedetails/300-E-54th-St-20KL-New-York-NY-10022/72525741_zpid/', 'https://www.zillow.com/homedetails/781-5th-Ave-APT-1911-New-York-NY-10022/79524276_zpid/', 'https://www.zillow.com/homedetails/300-E-59th-St-APT-506-New-York-NY-10022/114442270_zpid/', 'https://www.zillow.com/homedetails/434-E-52nd-St-APT-9B-New-York-NY-10022/244690888_zpid/', 'https://www.zillow.com/homedetails/303-E-57th-St-APT-32A-New-York-NY-10022/2073861416_zpid/', 'https://www.zillow.com/homedetails/245-E-54th-St-APT-23A-New-York-NY-10022/111033031_zpid/', 'https://www.zillow.com/homedetails/345-E-57th-St-APT-1B-New-York-NY-10022/244891149_zpid/', 'https://www.zillow.com/homedetails/330-E-57th-St-APT-4-New-York-NY-10022/89329879_zpid/', 'https://www.zillow.com/homedetails/641-5th-Ave-23G-New-York-NY-10022/31527569_zpid/', 'https://www.zillow.com/homedetails/400-E-51st-St-APT-27B-New-York-NY-10022/63870339_zpid/', 'https://www.zillow.com/homedetails/781-5th-Ave-815-New-York-NY-10022/244820180_zpid/', 'https://www.zillow.com/homedetails/118-E-60th-St-APT-25E-New-York-NY-10022/244762444_zpid/', 'https://www.zillow.com/homedetails/721-5th-Ave-APT-59B-New-York-NY-10022/2122805433_zpid/', 'https://www.zillow.com/homedetails/240-E-55th-St-APT-LC-New-York-NY-10022/2074354516_zpid/', 'https://www.zillow.com/homedetails/345-E-56th-St-APT-5G-New-York-NY-10022/321910947_zpid/', 'https://www.zillow.com/homedetails/135-E-54th-St-APT-15F-New-York-NY-10022/31528457_zpid/', 'https://www.zillow.com/homedetails/71-Reade-St-APT-2C-New-York-NY-10007/2079316967_zpid/', 'https://www.zillow.com/homedetails/30-Park-Pl-78A-New-York-NY-10007/219636873_zpid/', 'https://www.zillow.com/homedetails/101-Warren-St-APT-1840-New-York-NY-10007/89335558_zpid/', 'https://www.zillow.com/homedetails/99-Warren-St-APT-9H-New-York-NY-10007/2123918273_zpid/', 'https://www.zillow.com/homedetails/295-Greenwich-St-APT-5F-New-York-NY-10007/2073807536_zpid/', 'https://www.zillow.com/homedetails/111-Murray-St-17B-New-York-NY-10007/300199072_zpid/', 'https://www.zillow.com/homedetails/80-Chambers-St-APT-13A-New-York-NY-10007/65316562_zpid/', 'https://www.zillow.com/homedetails/49-Chambers-St-9F-New-York-NY-10007/2074556485_zpid/', 'https://www.zillow.com/homedetails/49-Chambers-St-APT-12A-New-York-NY-10007/2074556491_zpid/', 'https://www.zillow.com/homedetails/111-Murray-St-24W-New-York-NY-10007/300196228_zpid/', 'https://www.zillow.com/homedetails/38-Warren-St-APT-9C-New-York-NY-10007/61965621_zpid/', 'https://www.zillow.com/homedetails/57-Reade-St-APT-14E-New-York-NY-10007/120289560_zpid/', 'https://www.zillow.com/homedetails/30-Warren-St-PENTHOUSE-2-New-York-NY-10007/2075385884_zpid/', 'https://www.zillow.com/homedetails/80-Chambers-St-APT-12D-New-York-NY-10007/63863524_zpid/', 'https://www.zillow.com/homedetails/295-Greenwich-St-APT-10F-New-York-NY-10007/2080216701_zpid/', 'https://www.zillow.com/homedetails/153-Chambers-St-New-York-NY-10007/143077074_zpid/', 'https://www.zillow.com/homedetails/100-Barclay-St-APT-15P-New-York-NY-10007/2095061387_zpid/', 'https://www.zillow.com/homedetails/49-Chambers-St-17C-New-York-NY-10007/2075662675_zpid/', 'https://www.zillow.com/homedetails/49-Chambers-St-PENTHOUSE-D-New-York-NY-10007/2075666149_zpid/', 'https://www.zillow.com/homedetails/80-Chambers-St-APT-11A-New-York-NY-10007/65317328_zpid/', 'https://www.zillow.com/homedetails/100-Barclay-St-APT-14P-New-York-NY-10007/2094803533_zpid/', 'https://www.zillow.com/homedetails/30-Park-Pl-APT-68A-New-York-NY-10007/219636846_zpid/', 'https://www.zillow.com/homedetails/100-Barclay-St-APT-12L-New-York-NY-10007/2095549300_zpid/', 'https://www.zillow.com/homedetails/30-Park-Pl-47E-New-York-NY-10007/219636767_zpid/', 'https://www.zillow.com/homedetails/100-Barclay-St-APT-12S-New-York-NY-10007/2095211996_zpid/', 'https://www.zillow.com/homedetails/100-Barclay-St-APT-12A-New-York-NY-10007/2096800989_zpid/', 'https://www.zillow.com/homedetails/49-Chambers-St-APT-14E-New-York-NY-10007/2076976705_zpid/', 'https://www.zillow.com/homedetails/53-Murray-St-APT-1-New-York-NY-10007/118327098_zpid/', 'https://www.zillow.com/homedetails/100-Barclay-St-APT-12K-New-York-NY-10007/2095594205_zpid/', 'https://www.zillow.com/homedetails/2-Park-Pl-43A-New-York-NY-10007/300200482_zpid/', 'https://www.zillow.com/homedetails/57-Reade-St-APT-10B-New-York-NY-10007/120287294_zpid/', 'https://www.zillow.com/homedetails/101-Warren-St-APT-2420-New-York-NY-10007/89335724_zpid/', 'https://www.zillow.com/homedetails/25-Murray-St-APT-7B-New-York-NY-10007/83934007_zpid/', 'https://www.zillow.com/homedetails/200-Chambers-St-4BC-New-York-NY-10007/2077435861_zpid/', 'https://www.zillow.com/homedetails/37-Warren-St-APT-6A-New-York-NY-10007/122272183_zpid/', 'https://www.zillow.com/homedetails/275-Greenwich-St-APT-2E-New-York-NY-10007/2101233931_zpid/', 'https://www.zillow.com/homedetails/30-Park-Pl-76B-New-York-NY-10007/219636870_zpid/', 'https://www.zillow.com/homedetails/200-Chambers-St-APT-9A-New-York-NY-10007/80006627_zpid/', 'https://www.zillow.com/homedetails/80-Chambers-St-APT-15B-New-York-NY-10007/65316200_zpid/', 'https://www.zillow.com/homedetails/8-Warren-St-FLOOR-7-New-York-NY-10007/83943020_zpid/', 'https://www.zillow.com/homedetails/1752-Givan-Ave-Bronx-NY-10469/79728086_zpid/', 'https://www.zillow.com/homedetails/3452-Ely-Ave-A-Bronx-NY-10469/2077159687_zpid/', 'https://www.zillow.com/homedetails/1754-Hammersley-Ave-Bronx-NY-10469/29830823_zpid/', 'https://www.zillow.com/homedetails/3452-Ely-Ave-Bronx-NY-10469/29833984_zpid/', 'https://www.zillow.com/homedetails/3386-Ely-Ave-Bronx-NY-10469/29833909_zpid/', 'https://www.zillow.com/homedetails/2305-Yates-Ave-Bronx-NY-10469/29819504_zpid/', 'https://www.zillow.com/homedetails/3828-Laconia-Ave-Bronx-NY-10469/29828815_zpid/', 'https://www.zillow.com/homedetails/2924-Grace-Ave-3-Bronx-NY-10469/2084524375_zpid/', 'https://www.zillow.com/homedetails/2537-Hering-Ave-Bronx-NY-10469/29821204_zpid/', 'https://www.zillow.com/homedetails/3544-Corsa-Ave-2FAM-Bronx-NY-10469/2074052471_zpid/', 'https://www.zillow.com/homedetails/1415-Oakley-St-Bronx-NY-10469/29828753_zpid/', 'https://www.zillow.com/homedetails/1261-E-222nd-St-Bronx-NY-10469/29834171_zpid/', 'https://www.zillow.com/homedetails/3366-Boston-Rd-Bronx-NY-10469/83178253_zpid/', 'https://www.zillow.com/homedetails/2935-Hering-Ave-Bronx-NY-10469/29824245_zpid/', 'https://www.zillow.com/homedetails/3356-Corsa-Ave-Bronx-NY-10469/29829822_zpid/', 'https://www.zillow.com/homedetails/2711-Morgan-Ave-Bronx-NY-10469/142671085_zpid/', 'https://www.zillow.com/homedetails/2559-Hering-Ave-Bronx-NY-10469/29821198_zpid/', 'https://www.zillow.com/homedetails/3234-Radcliff-Ave-FLOOR-2-Bronx-NY-10469/2075323239_zpid/', 'https://www.zillow.com/homedetails/2934-Hering-Ave-Bronx-NY-10469/29824267_zpid/', 'https://www.zillow.com/homedetails/1711-Astor-Ave-Bronx-NY-10469/2075380681_zpid/', 'https://www.zillow.com/homedetails/3234-Radcliff-Ave-Bronx-NY-10469/29825495_zpid/', 'https://www.zillow.com/homedetails/2925-Laconia-Ave-A-Bronx-NY-10469/2075424590_zpid/', 'https://www.zillow.com/homedetails/2925-Laconia-Ave-Bronx-NY-10469/29824173_zpid/', 'https://www.zillow.com/homedetails/3297-Bronxwood-Ave-Bronx-NY-10469/64565644_zpid/', 'https://www.zillow.com/homedetails/949-E-221st-St-APT-1-Bronx-NY-10469/2075657030_zpid/', 'https://www.zillow.com/homedetails/926-E-221st-St-A-Bronx-NY-10469/2075657107_zpid/', 'https://www.zillow.com/homedetails/2564-Paulding-Ave-Bronx-NY-10469/29820871_zpid/', 'https://www.zillow.com/homedetails/2333-Gunther-Ave-Bronx-NY-10469/29820277_zpid/', 'https://www.zillow.com/homedetails/985-Duncan-St-Bronx-NY-10469/29826062_zpid/', 'https://www.zillow.com/homedetails/2938-Wilson-Ave-Bronx-NY-10469/29825060_zpid/', 'https://www.zillow.com/homedetails/2783-Hone-Ave-Bronx-NY-10469/29823009_zpid/', 'https://www.zillow.com/homedetails/2819-Bruner-Ave-Bronx-NY-10469/29831447_zpid/', 'https://www.zillow.com/homedetails/1288-Givan-Ave-Bronx-NY-10469/29829347_zpid/', 'https://www.zillow.com/homedetails/2741-Bronxwood-Ave-Bronx-NY-10469/29822942_zpid/', 'https://www.zillow.com/homedetails/1409-Oakley-St-A-Bronx-NY-10469/2076871016_zpid/', 'https://www.zillow.com/homedetails/3236-Corsa-Ave-Bronx-NY-10469/29829969_zpid/', 'https://www.zillow.com/homedetails/3531-Bronxwood-Ave-APT-1D-Bronx-NY-10469/215953345_zpid/', 'https://www.zillow.com/homedetails/3866-Laconia-Ave-Bronx-NY-10469/29828846_zpid/', 'https://www.zillow.com/homedetails/3133-Baychester-Ave-Bronx-NY-10469/29830978_zpid/', 'https://www.zillow.com/homedetails/1416-Burke-Ave-Bronx-NY-10469/29830466_zpid/', 'https://www.zillow.com/homedetails/526-Cross-Bay-Blvd-Broad-Channel-NY-11693/32219184_zpid/', 'https://www.zillow.com/homedetails/151-Beach-96th-St-APT-4C-Far-Rockaway-NY-11693/2075309092_zpid/', 'https://www.zillow.com/homedetails/10-E-7th-Rd-Far-Rockaway-NY-11693/32219233_zpid/', 'https://www.zillow.com/homedetails/151-Beach-96th-St-APT-3D-Far-Rockaway-NY-11693/2075609792_zpid/', 'https://www.zillow.com/homedetails/811-Church-Rd-Broad-Channel-NY-11693/32219355_zpid/', 'https://www.zillow.com/homedetails/91-16-Shore-Front-Pkwy-3C-Far-Rockaway-NY-11693/2075632553_zpid/', 'https://www.zillow.com/homedetails/328-Beach-87-St-Far-Rockaway-NY-11693/2076640230_zpid/', 'https://www.zillow.com/homedetails/151-Beach-96-St-5C-Far-Rockaway-NY-11693/2076692524_zpid/', 'https://www.zillow.com/homedetails/138-Beach-92nd-St-1A-Rockaway-Beach-NY-11693/68316703_zpid/', 'https://www.zillow.com/homedetails/18-23-Channel-Rd-Far-Rockaway-NY-11693/2076875072_zpid/', 'https://www.zillow.com/homedetails/116-E-6th-Rd-Broad-Channel-NY-11693/32219258_zpid/', 'https://www.zillow.com/homedetails/97-10-Rockaway-Beach-Blvd-1-Far-Rockaway-NY-11693/2076926135_zpid/', 'https://www.zillow.com/homedetails/910-Cross-Bay-Blvd-Broad-Channel-NY-11693/32219364_zpid/', 'https://www.zillow.com/homedetails/17-17-Cross-Bay-Blvd-Far-Rockaway-NY-11693/2076976677_zpid/', 'https://www.zillow.com/homedetails/151-Beach-91st-St-Far-Rockaway-NY-11693/112513633_zpid/', 'https://www.zillow.com/homedetails/308-E-8th-Rd-Broad-Channel-NY-11693/32219415_zpid/', 'https://www.zillow.com/homedetails/810-Church-Rd-Broad-Channel-NY-11693/32219383_zpid/', 'https://www.zillow.com/homedetails/155-Beach-95-St-1-10-Far-Rockaway-NY-11693/2077345036_zpid/', 'https://www.zillow.com/homedetails/807-Walton-Rd-Broad-Channel-NY-11693/32219388_zpid/', 'https://www.zillow.com/homedetails/221-Beach-87th-St-Far-Rockaway-NY-11693/32225408_zpid/', 'https://www.zillow.com/homedetails/16-W-11th-Rd-Broad-Channel-NY-11693/32218831_zpid/', 'https://www.zillow.com/homedetails/962-E-49th-St-Brooklyn-NY-11203/30656717_zpid/', 'https://www.zillow.com/homedetails/347-E-59th-St-Brooklyn-NY-11203/30765999_zpid/', 'https://www.zillow.com/homedetails/126-E-39th-St-Brooklyn-NY-11203/30658321_zpid/', 'https://www.zillow.com/homedetails/202-E-59th-St-Brooklyn-NY-11203/30654662_zpid/', 'https://www.zillow.com/homedetails/786-Schenectady-Ave-Brooklyn-NY-11203/30658586_zpid/', 'https://www.zillow.com/homedetails/218-E-34th-St-Brooklyn-NY-11203/30658775_zpid/', 'https://www.zillow.com/homedetails/53-E-59th-St-Brooklyn-NY-11203/30653159_zpid/', 'https://www.zillow.com/homedetails/522-E-51st-St-6-Brooklyn-NY-11203/2073718377_zpid/', 'https://www.zillow.com/homedetails/282-E-35th-St-APT-5E-Brooklyn-NY-11203/244996689_zpid/', 'https://www.zillow.com/homedetails/503-E-49th-St-Brooklyn-NY-11203/30654266_zpid/', 'https://www.zillow.com/homedetails/543-E-52nd-St-Brooklyn-NY-11203/30654934_zpid/', 'https://www.zillow.com/homedetails/902-E-48th-St-Brooklyn-NY-11203/30656626_zpid/', 'https://www.zillow.com/homedetails/733-E-48th-St-Brooklyn-NY-11203/30656105_zpid/', 'https://www.zillow.com/homedetails/3500-Snyder-Ave-APT-6F-Brooklyn-NY-11203/125722737_zpid/', 'https://www.zillow.com/homedetails/3500-Snyder-Ave-APT-6F-Brooklyn-NY-11203/245035324_zpid/', 'https://www.zillow.com/homedetails/3400-Snyder-Ave-APT-5V-Brooklyn-NY-11203/125716297_zpid/', 'https://www.zillow.com/homedetails/282-E-35th-St-APT-2F-Brooklyn-NY-11203/123763156_zpid/', 'https://www.zillow.com/homedetails/648-Maple-St-A1-Brooklyn-NY-11203/2075138055_zpid/', 'https://www.zillow.com/homedetails/135-E-46th-St-Brooklyn-NY-11203/30657897_zpid/', 'https://www.zillow.com/homedetails/704-E-37th-St-Brooklyn-NY-11203/30662354_zpid/', 'https://www.zillow.com/homedetails/885-Albany-Ave-Brooklyn-NY-11203/30659098_zpid/', 'https://www.zillow.com/homedetails/285-E-35th-St-APT-2D-Brooklyn-NY-11203/2075431731_zpid/', 'https://www.zillow.com/homedetails/3400-Snyder-Ave-APT-4M-Brooklyn-NY-11203/244998183_zpid/', 'https://www.zillow.com/homedetails/564-Kingston-Ave-Brooklyn-NY-11203/30657246_zpid/', 'https://www.zillow.com/homedetails/285-E-35th-St-APT-6F-Brooklyn-NY-11203/244996864_zpid/', 'https://www.zillow.com/homedetails/5304-Snyder-Ave-Brooklyn-NY-11203/30654397_zpid/', 'https://www.zillow.com/homedetails/16-E-58th-St-Brooklyn-NY-11203/30652452_zpid/', 'https://www.zillow.com/homedetails/966-E-45th-St-Brooklyn-NY-11203/30663465_zpid/', 'https://www.zillow.com/homedetails/532-E-38th-St-Brooklyn-NY-11203/30661595_zpid/', 'https://www.zillow.com/homedetails/1131-Brooklyn-Ave-Brooklyn-NY-11203/30660619_zpid/', 'https://www.zillow.com/homedetails/581-E-39th-St-Brooklyn-NY-11203/68018721_zpid/', 'https://www.zillow.com/homedetails/715-Lenox-Rd-Brooklyn-NY-11203/30651694_zpid/', 'https://www.zillow.com/homedetails/1340-Schenectady-Ave-Brooklyn-NY-11203/2076827779_zpid/', 'https://www.zillow.com/homedetails/1192-Troy-Ave-Brooklyn-NY-11203/30661973_zpid/', 'https://www.zillow.com/homedetails/502-E-38th-St-Brooklyn-NY-11203/30661582_zpid/', 'https://www.zillow.com/homedetails/28-E-55th-St-Brooklyn-NY-11203/30651275_zpid/', 'https://www.zillow.com/homedetails/208-E-34th-St-Brooklyn-NY-11203/30658773_zpid/', 'https://www.zillow.com/homedetails/331-E-52nd-St-Brooklyn-NY-11203/30652957_zpid/', 'https://www.zillow.com/homedetails/3823-Foster-Ave-FLOOR-2-Brooklyn-NY-11203/2077064082_zpid/', 'https://www.zillow.com/homedetails/216-E-52nd-St-APT-4-Brooklyn-NY-11203/30651783_zpid/']

In [ ]:
#Est_payment = []
#for url in links:
  #response = requests.get(url, headers = header)
  #data = response.text
  #soup = BeautifulSoup(data, 'html.parser')
  #x = soup.find('h5', {'class':'Text-c11n-8-18-0__aiai24-0 StyledHeading-c11n-8-18-0__ktujwe-0 LJxVR sc-oTmZL eWsAfv'})
  #for i in x:
    #Est_payment.append(i)

In [ ]:
#print(len(Est_payment))
#print(Est_payment[1])

In [ ]:
house=[]
for item in house_info:
  house.append(''.join(item[:]))
print(house)

['3 bds,2 ba,-- sqft', '2 bds,1 ba,900 sqft', '1 bd,1 ba,-- sqft', '2 bds,3 ba,1,260 sqft', '1 bd,1 ba,-- sqft', '1 bd,1 ba,-- sqft', '1 bd,1 ba,800 sqft', '1 bd,1 ba,-- sqft', '4 bds,4 ba,-- sqft', '1 bd,1 ba,-- sqft', '2 bds,3 ba,988,829 sqft', 'Studio,4 ba,3,420 sqft', '1 bd,1 ba,825 sqft', '1 bd,1 ba,93,153 sqft', '3 bds,3 ba,-- sqft', '3 bds,4 ba,2,550 sqft', '1 bd,1 ba,785 sqft', '4 bds,4 ba,-- sqft', '1 bd,1 ba,-- sqft', '1 bd,1 ba,650 sqft', 'Studio,1 ba,197,972 sqft', '3 bds,4 ba,2,200 sqft', '2 bds,2 ba,1,500 sqft', '1 bd,1 ba,-- sqft', '3 bds,2 ba,2,000 sqft', '2 bds,2 ba,1,200 sqft', '2 bds,2 ba,1,305 sqft', 'Studio,1 ba,830 sqft', '2 bds,3 ba,3,000 sqft', '1 bd,1 ba,700 sqft', '1 bd,2 ba,89,349 sqft', '3 bds,3 ba,1,950 sqft', '2 bds,2 ba,1,521 sqft', '3 bds,4 ba,2,347 sqft', '1 bd,2 ba,750 sqft', '1 bd,1 ba,850 sqft', '2 bds,2 ba,1,600 sqft', '1 bd,1 ba,-- sqft', '3 bds,2 ba,1,450 sqft', 'Studio,1 ba,545 sqft', '1 bd,2 ba,845 sqft', '5 bds,7 ba,6,127 sqft', '2 bds,3 ba,1,750 sqft', '2 bds,3 ba,1,647 sqft', '1 bd,1 ba,679 sqft', '2 bds,2 ba,1,573 sqft', '4 bds,2 ba,1,951 sqft', '1 bd,2 ba,968 sqft', '2 bds,2 ba,1,824 sqft', '4 bds,5 ba,2,685 sqft', '2 bds,2 ba,1,850 sqft', 'Studio,1 ba,712 sqft', '3 bds,3 ba,2,652 sqft', '2 bds,2 ba,1,640 sqft', '1 bd,1 ba,-- sqft', '3 bds,3 ba,2,500 sqft', '4 bds,5 ba,3,216 sqft', '1 bd,2 ba,1,266 sqft', '3 bds,4 ba,3,378 sqft', '3 bds,2 ba,1,951 sqft', '4 bds,5 ba,3,208 sqft', '4 bds,6 ba,3,699 sqft', '3 bds,4 ba,2,222 sqft', '3 bds,3 ba,1,794 sqft', '1 bd,2 ba,1,828 sqft', '4 bds,4 ba,2,719 sqft', '4 bds,4 ba,4,000 sqft', '4 bds,4 ba,5,355 sqft', '3 bds,4 ba,2,248 sqft', '3 bds,4 ba,3,957 sqft', '1 bd,1 ba,909 sqft', '3 bds,4 ba,2,388 sqft', '2 bds,4 ba,1,493 sqft', '4 bds,4 ba,2,794 sqft', '3 bds,3 ba,2,366 sqft', '2 bds,2 ba,1,086 sqft', '3 bds,5 ba,3,173 sqft', '3 bds,3 ba,2,201 sqft', '1 bd,1 ba,1,056 sqft', '3 bds,3 ba,2,378 sqft', '5 bds,4 ba,1,850 sqft', '6 bds,4 ba,-- sqft', '2 bds,1 ba,960 sqft', '5 bds,3 ba,2,300 sqft', '3 bds,1 ba,1,360 sqft', '3 bds,2 ba,1,500 sqft', '3 bds,2 ba,1,690 sqft', '7 bds,5 ba,3,354 sqft', '3 bds,3 ba,1,800 sqft', '7 bds,5 ba,2,361 sqft', '4 bds,3 ba,2,125 sqft', '6 bds,4 ba,2,378 sqft', '4 bds,5 ba,-- sqft', '2 bds,3 ba,1,496 sqft', '5 bds,4 ba,-- sqft', '5 bds,3 ba,2,238 sqft', '2 bds,3 ba,1,040 sqft', '5 bds,2 ba,1,948 sqft', '3 bds,2 ba,2,484 sqft', '5,954 sqft lot', '5 bds,2 ba,1,948 sqft', '9 bds,6 ba,-- sqft', '6 bds,7 ba,3,230 sqft', '9 bds,6 ba,2,830 sqft', '6 bds,3 ba,-- sqft', '6 bds,3 ba,-- sqft', '9 bds,4 ba,1,925 sqft', '3 bds,2 ba,2,260 sqft', '5 bds,2 ba,2,016 sqft', '6 bds,3 ba,2,800 sqft', '2 bds,2 ba,1,045 sqft', '3 bds,1 ba,1,146 sqft', '4 bds,2 ba,1,408 sqft', '6 bds,4 ba,3,500 sqft', '3 bds,2 ba,-- sqft', '3 bds,3 ba,1,400 sqft', '2 bds,1 ba,1,000 sqft', '4 bds,3 ba,644 sqft', '7 bds,3 ba,3,060 sqft', '6 bds,3 ba,3,100 sqft', '3 bds,2 ba,-- sqft', '2 bds,2 ba,1,239 sqft', '2 bds,2 ba,-- sqft', '2 bds,2 ba,-- sqft', '3 bds,1 ba,850 sqft', '2 bds,2 ba,1,120 sqft', 'Studio,3 ba,2,000 sqft', '2 bds,2 ba,1,239 sqft', '2 bds,2 ba,1,433 sqft', '6 bds,3 ba,-- sqft', '3 bds,1 ba,-- sqft', '6 bds,6 ba,-- sqft', '1 bd,1 ba,560 sqft', '3 bds,1 ba,-- sqft', '9 bds,7 ba,5,008 sqft', '1,654 sqft lot', '1 bd,1 ba,750 sqft', '13 bds,12 ba,7,132 sqft', '2 bds,1 ba,928 sqft', '5,418 sqft lot', '3 bds,2 ba,1,840 sqft', '3 bds,2 ba,720 sqft', '3 bds,3 ba,1,400 sqft', '3 bds,3 ba,2,056 sqft', '2 bds,2 ba,1,905 sqft', '5 bds,3 ba,-- sqft', '8 bds,2 ba,-- sqft', '3 bds,-- ba,1,696 sqft', '11 bds,6 ba,5,800 sqft', '1 bd,1 ba,1,000 sqft', '3 bds,2 ba,1,404 sqft', '2 bds,2 ba,2,000 sqft', '3 bds,2 ba,1,288 sqft', '3 bds,2 ba,1,560 sqft', '1 bd,1 ba,750 sqft', '1 bd,1 ba,900 sqft', '1 bd,1 ba,-- sqft', '1 bd,1 ba,-- sqft', '3 bds,2 ba,-- sqft', '4 bds,2 ba,-- sqft', '3 bds,2 ba,1,230 sqft', '6 bds,3 ba,-- sqft', '2 bds,1 ba,1,200 sqft', '1 bd,1 ba,114,346 sqft', '-- bds,2 ba,2,948 sqft', '1 bd,1 ba,58,231 sqft', '3 bds,2 ba,-- sqft', '5 bds,3 ba,-- sqft', '3 bds,2 ba,1,260 sqft', '3 bds,1 ba,2,000 sqft', '4 bds,2 ba,-- sqft', '3,007 sqft lot', '2 bds,1 ba,1,700 sqft', '2,000 sqft lot', '3 bds,2 ba,1,216 sqft', '3 bds,1 ba,1,326 sqft', '3 bds,2 ba,1,767 sqft', '-- bds,2 ba,-- sqft', '10 bds,10 ba,6,135 sqft', '4 bds,3 ba,-- sqft', '7 bds,4 ba,3,652 sqft']

In [ ]:
house_data = []
house_data.append(price)
#house_data.append(Est_payment)
house_data.append(real_estate)
house_data.append(last_updated)
house_data.append(links)
house_data.append(house)
house_data.append(address)
house_data.append(img)
dict = {'price':house_data[0], 'real_estate':house_data[1], 'last_updated':house_data[2], 
        'link':house_data[3], 'house_info':house_data[4], 'address':house_data[5], 'img_link':house_data[6]}
data = pd.DataFrame(dict)
print(data.shape)

(181, 7)

In [ ]:
df = data.copy()

In [ ]:
df.head(1)

        price  ...                                           img_link
0  $1,895,000  ...  https://photos.zillowstatic.com/fp/1a9a299fe01...

[1 rows x 7 columns]

In [ ]:
print(df['img_link'][15])

https://photos.zillowstatic.com/fp/0c48a5091a2eb8239ab79d873cd6d487-p_h.jpg

In [ ]:
#df['est_payment'] = df['est_payment'].apply(lambda x: x[1:])

In [ ]:
df['real_estate'] = df['real_estate'].replace('LISTING BY: ','',regex=True)

In [ ]:
df.head(1)

        price  ...                                           img_link
0  $1,895,000  ...  https://photos.zillowstatic.com/fp/1a9a299fe01...

[1 rows x 7 columns]

In [ ]:
df[['beds','baths','sq_feet']]=df['house_info'].str.split(',',2, expand=True)

In [ ]:
#df['prices'] = df['price'].apply(lambda x: x[1:])

In [ ]:
#df[['redundant','baths']] = df['baths'].str.split(',',n=1,expand=True)

In [ ]:
df['sq_feet']=df['sq_feet'].replace(' sqft','',regex=True)

In [ ]:
df['sq_feet'] = df['sq_feet'].replace('lot-', None, regex=True)

In [ ]:
df['sq_feet'] = df['sq_feet'].replace('--', None,regex=True)
df['sq_feet'] = df['sq_feet'].replace('sqft-', None,regex=True)
df['sq_feet'] = df['sq_feet'].replace(',','', regex=True)
df['sq_feet'] = df['sq_feet'].replace('--', '',regex=True)
#df['sq_feet'] = df['sq_feet'].replace('', None,regex=True)
df['sq_feet'] = df['sq_feet'].where(pd.notnull(df['sq_feet']), None)

In [ ]:
df['sq_feet'] = df['sq_feet'].fillna(0)
df['sq_feet'] = pd.to_numeric(df['sq_feet'])

In [ ]:
df['sq_feet'].dtype

dtype('float64')

In [ ]:
df[['street_name','city','state_zip_code']]=df['address'].str.split(',',n=2, expand=True)

In [ ]:
#drop unnecessary columns
feature_drop = ['house_info', 'address']
df1 = df.drop(feature_drop, axis=1)

In [ ]:
print(list(df1.columns.values))

['price', 'real_estate', 'last_updated', 'link', 'img_link', 'beds', 'baths', 'sq_feet', 'street_name', 'city', 'state_zip_code']

In [ ]:
#reorder columns
zillow_df = df1[['price','beds','baths','sq_feet','street_name',
       'city', 'state_zip_code', 'real_estate', 'last_updated','link', 'img_link']]

In [ ]:
zillow_df = zillow_df.rename(columns = {"price":"prices"})

In [ ]:
zillow_df.shape

(181, 11)

In [ ]:
zillow_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   prices          181 non-null    object
 1   beds            181 non-null    object
 2   baths           181 non-null    object
 3   sq_feet         180 non-null    float64
 4   street_name     181 non-null    object
 5   city            181 non-null    object
 6   state_zip_code  181 non-null    object
 7   real_estate     181 non-null    object
 8   last_updated    181 non-null    object
 9   link            181 non-null    object
 10  img_link        181 non-null    object
dtypes: float64(1), object(10)
memory usage: 15.7+ KB

# Data Cleansing

In [ ]:
# Remove K and comma from prices
# Convert to float data type
#zillow_df['prices'] = zillow_df['prices'].str.replace('K','',regex=True)
#zillow_df['prices'] = zillow_df['prices'].str.replace(',','').astype(float)

In [ ]:
# Replace Studio and comma with blank
# Replace Studio,-- with 
zillow_df['beds']=zillow_df['beds'].replace('Studio,--', None)
zillow_df['beds']=zillow_df['beds'].replace('--', None)
zillow_df['beds']=zillow_df['beds'].replace('Studio,','',regex=True)
zillow_df['beds']=zillow_df['beds'].replace(',', '',regex=True)
zillow_df['beds']=zillow_df['beds'].replace('bd', '',regex=True)
zillow_df['beds']=zillow_df['beds'].replace('Studio',None,regex=True)
zillow_df['beds']=zillow_df['beds'].replace('s','',regex=True)
zillow_df['beds']=zillow_df['beds'].replace('-- ', None)
zillow_df['beds'] = zillow_df['beds'].where(pd.notnull(zillow_df['beds']), None)

In [ ]:
zillow_df['beds'] = zillow_df['beds'].fillna(0)
zillow_df['beds'] = pd.to_numeric(zillow_df['beds'])

In [ ]:
# Extract the number of bathrooms
zillow_df['baths'] = zillow_df['baths'].replace('--', None, regex=True)
zillow_df['baths'] = zillow_df['baths'].replace('ba', '')
zillow_df['baths'] = zillow_df['baths'].str.replace(',','')
zillow_df['baths'] = zillow_df['baths'].str.split(' ',2, expand=True)

In [ ]:
zillow_df['baths'] = zillow_df['baths'].fillna(0)
zillow_df['baths'] = pd.to_numeric(zillow_df['baths'])

In [ ]:
zillow_df = zillow_df.where(pd.notnull(zillow_df), None)

In [ ]:
zillow_df['sq_feet'] = pd.to_numeric(zillow_df['sq_feet'])

In [ ]:
#zillow_df['est_payment'] = zillow_df['est_payment'].str.replace(',', '')
#zillow_df['est_payment'] = pd.to_numeric(zillow_df['est_payment'])

In [ ]:
zillow_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   prices          181 non-null    object
 1   beds            181 non-null    int64
 2   baths           181 non-null    int64
 3   sq_feet         180 non-null    float64
 4   street_name     181 non-null    object
 5   city            181 non-null    object
 6   state_zip_code  181 non-null    object
 7   real_estate     181 non-null    object
 8   last_updated    181 non-null    object
 9   link            181 non-null    object
 10  img_link        181 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 15.7+ KB

In [ ]:
#Trim outliers custom_audience_ads dataset:
#starting_percentile = zillow_df['prices'].quantile(.02)
#ending_percentile = zillow_df['prices'].quantile(.98)
#outliers_df = zillow_df.loc[((zillow_df['prices'] <= starting_percentile) | (zillow_df['prices'] >= ending_percentile))]
#df_trimmed = zillow_df.loc[((zillow_df['prices'] > starting_percentile) & (zillow_df['prices'] < ending_percentile))]

In [ ]:
zillow_df.describe()

             beds       baths        sq_feet
count  181.000000  181.000000     180.000000
mean     3.182320   13.779006   11498.166667
std      2.096271   90.674422   76319.008056
min      1.000000    0.000000       0.000000
25%      2.000000    1.000000    1078.500000
50%      3.000000    2.000000    1693.000000
75%      4.000000    3.000000    2412.000000
max     13.000000  954.000000  988829.000000

In [ ]:
zillow_df = zillow_df[zillow_df['beds'] < 100]
zillow_df = zillow_df[zillow_df['baths'] < 200]
zillow_df = zillow_df[zillow_df['sq_feet'] < 100000]

In [ ]:
zillow_df['state_zip_code'] = zillow_df['state_zip_code'].str.split(' ', expand=True)[2]

In [ ]:
zillow_df.to_csv('zillow_data_team3.csv')

In [ ]:
zillow_df.head(1)

     prices  ...                                           img_link
1  $580,000  ...  https://photos.zillowstatic.com/fp/3113fa19ad6...

[1 rows x 11 columns]

# Data Visualization

Baths

In [ ]:
zillow_df['baths'].value_counts().plot.barh()
plt.title('Distribution of Number of Bathrooms')
plt.xlabel('Frequency')
plt.ylabel('Number of Bathrooms')

In [ ]:
zillow_df['beds'].value_counts().plot.barh()
plt.title('Distribution of Number of Bedrooms')
plt.xlabel('Frequency')
plt.ylabel('Number of Bedrooms')

City

In [ ]:
plt.figure(figsize=(12,5))
sns.countplot(zillow_df['city'])
plt.title('Distribution of Cities')
plt.xlabel('count')
plt.ylabel('Cities')

Real Estate

In [ ]:
bplot = sns.boxplot(y='city', x='beds', 
                 data=zillow_df, 
                 width=0.7,
                 palette="colorblind")
plt.title('Boxplot numbers of bed group by city')

In [ ]:
bplot = sns.boxplot(y='city', x='baths', 
                 data=zillow_df, 
                 width=0.7,
                 palette="colorblind")
plt.title('Boxplot numbers of baths group by city')

In [ ]:
bplot = sns.boxplot(y='city', x='prices', 
                 data=zillow_df, 
                 width=0.7,
                 palette="colorblind")
plt.title('Boxplot prices group by city')

In [ ]:
dfnewyork= pd.DataFrame(zillow_df, columns = ['', 'Age']) 
  
# print dataframe. 
df

In [ ]:
zillow_df['beds'].value_counts().plot.barh()
plt.title('Distribution of Number of Bedrooms')
plt.xlabel('Frequency')
plt.ylabel('Number of Bedrooms')

In [ ]:
# Listings distribution
grouped_df =zillow_df.groupby(by='real_estate',as_index=False)['street_name'].count()
sorted_grouped_df =grouped_df.sort_values(by='street_name',ascending=False)
top10=sorted_grouped_df.iloc[0:10]

In [ ]:
top10

In [ ]:
plt.figure(figsize=(20,5))
sns.barplot('real_estate','street_name',data=top10)
plt.title('Top 10 Real Estates',size=15)

Boxplots - prices, square feet, beds, baths

In [ ]:
sns.boxplot(zillow_df['prices'])
plt.title('Boxplot of Prices')
plt.xlabel('Prices (10 Millions)')

In [ ]:
sns.boxplot(zillow_df['sq_feet'])
plt.title('Boxplot of Square Feet')
plt.xlabel('Squre Feet')

In [ ]:
sns.boxplot(zillow_df['baths'])
plt.title('Boxplot of Bathrooms')
plt.xlabel('baths')

In [ ]:
sns.boxplot(zillow_df['beds'])
plt.title('Boxplot of outlier of beds')
plt.xlabel('beds')

In [ ]:
zillow_df.head(1)

In [ ]:
zillow_df.info()

In [ ]:
try:
  sns.pairplot(zillow_df[['prices', 'beds', 'baths', 'sq_feet']], diag_kind='kde')
except:
  sns.pairplot(zillow_df[['prices', 'beds', 'baths']], diag_kind='kde')

In [ ]:
df=zillow_df.groupby(['real_estate'])['beds'].mean().to_frame().rename(columns={'id':'count'}).reset_index()

In [ ]:
df = df[df['real_estate'] != '/']

In [ ]:
sorted_grouped_df = df.sort_values(by='beds',ascending=False)
top10=sorted_grouped_df.iloc[0:10]

In [ ]:
top10

In [ ]:
plt.figure(figsize=(12,6))
sns.barplot('real_estate','beds',data=top10)
plt.title('Top 10 Distribution of Type of Houses in Average')

In [ ]:
sns.heatmap(zillow_df[['prices','beds','baths']].corr(), annot=True, cmap = 'Reds')
plt.show()

#Prediction using Decison Tree model

In [ ]:
df['prices'] = df['price'].apply(lambda x: x[1:])
zillow_df['prices'] = zillow_df['prices'].str.replace('$','',regex=True)
zillow_df['prices'] = zillow_df['prices'].str.replace('K','',regex=True)
zillow_df['prices'] = zillow_df['prices'].str.replace(',','').astype(float)

In [ ]:
dff=pd.get_dummies(zillow_df, columns=['state_zip_code'])

In [ ]:
dff=pd.DataFrame(dff)

In [ ]:
zillow_dff=pd.concat([zillow_df,dff], axis=1)

In [ ]:
print(zillow_dff.columns)

In [ ]:
zillow_data=zillow_dff[['beds', 'baths', 'sq_feet', 'state_zip_code_10007', 'state_zip_code_10022', 'state_zip_code_10469',
       'state_zip_code_11203', 'state_zip_code_11693','prices']]

X=zillow_data[['beds', 'baths', 'sq_feet', 'state_zip_code_10007', 'state_zip_code_10022', 'state_zip_code_10469',
       'state_zip_code_11203', 'state_zip_code_11693']]
y=zillow_data['prices']

X_train, X_test, y_train, y_test=train_test_split(X, y, random_state=3)

clf=DecisionTreeClassifier(max_depth=5)
Mul = MultiOutputRegressor(clf).fit(X_train, y_train)

y_pred = Mul.predict((X_test))

In [ ]:
cross_val_score(Mul, y_test, y_pred, cv=10)

In [ ]:
pred= Mul.predict((X)) 
pred_price=[i[0] for i in pred]
print(pred_price)

In [ ]:
percent_of_price = [i / j for i, j in zip(pred_price, y.tolist())] 
dict_pred_price={'predict_price': pred_price, 'percent_price':percent_of_price}
dataf=pd.DataFrame(dict_pred_price)

zillow_dtf=pd.concat([zillow_ddf, dataf], axis=1)
print(zillow_dtf.columns)

In [ ]:
zillow_dtf.drop(['state_zip_code_10007', 'state_zip_code_10022', 'state_zip_code_10469',
       'state_zip_code_11203', 'state_zip_code_11693'], axis=1, inplace=True)
print(zillow_dtf.head())

# Database Setup

In [ ]:
try:
  mydb = mysql.connector.connect(user='root5', password='!GoodPassword123!',
                        host='34.123.115.192',
                        port=3306
                        )
except:
  print("Error in fetching ip...  snoozing for 30 seconds and retrying")
  time.sleep(3)

In [ ]:
'''
mydb = mysql.connector.connect(user='root5', password='!GoodPassword123!',
                          host='34.123.115.192',
                          port=3306
                          )
'''

In [ ]:
mycursor = mydb.cursor()

In [ ]:
# check if connection is successful or not
if (mydb):
  print('Connection Successful')
else:
  print('Unsuccessful')

In [ ]:
mydb

In [ ]:
try:
  mycursor.execute('Create database zillowdb;')
except:
  print('Database exists.')

In [ ]:
mycursor.execute('Show databases')

In [ ]:
for db in mycursor:
  print(db)

In [ ]:
# point to the right database
mydb = mysql.connector.connect(user='root5', password='!GoodPassword123!',
                          host='34.123.115.192',
                          database= 'zillowdb'
                          )

In [ ]:
mycursor = mydb.cursor()

In [ ]:
mycursor.execute("DROP TABLE IF EXISTS house_details_results_preliminary;")

In [ ]:
mycursor.execute("""CREATE TABLE house_details_results_preliminary (
    prices float NOT NULL, 
    beds float DEFAULT NULL, 
    baths float DEFAULT NULL, 
    sq_feet float DEFAULT NULL, 
    type varchar(300) DEFAULT NULL, 
    address varchar(300) DEFAULT NULL,
    street_name varchar(300) DEFAULT NULL,
    city varchar(300) DEFAULT NULL,
    state_zip_code varchar(300) DEFAULT NULL,
    real_estate varchar(300) DEFAULT NULL,
    last_updated varchar(300) DEFAULT NULL,
    link varchar(300) DEFAULT NULL)""")

In [ ]:
mycursor.execute('Show Tables;')

In [ ]:
def insert_results_to_db(zillow_df):
  mydb = mysql.connector.connect(user='root5', password='!GoodPassword123!',
                        host='34.123.115.192', database= 'zillowdb',
                        port=3306
                        )
  cursor = mydb.cursor()
  record_count = 0
  cols = ",".join([str(i) for i in zillow_df.columns.tolist()])
  for i, row in zillow_df.iterrows():
    sql = "INSERT INTO house_details_results_preliminary (" + cols + ") VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))
    mydb.commit()
    record_count += 1
  mydb.close()
  print(record_count)

In [ ]:
a = insert_results_to_db(zillow_df)
print(a)

In [ ]:
dataset = zillow_df.copy()
dataset.tail()

In [ ]:
#check missing value
dataset.isna().sum()

In [ ]:
dataset.info()

In [ ]:
#drop irrelevant columns
feature_drop = ['real_estate','street_name', 'city','state_zip_code','last_updated', 'link']
dataset1 = dataset.drop(feature_drop, axis=1)
dataset1

In [ ]:
#Now split the dataset into a training set and a test set.
#Use the test set in the final evaluation of our models.
train_dataset = dataset1.sample(frac=0.8, random_state=0)
test_dataset = dataset1.drop(train_dataset.index)

In [ ]:
#look at the overall statistics
train_dataset.describe().transpose()

In [ ]:
#Separate the target value price
train_features = train_dataset.copy()
test_features = test_dataset.copy()

train_labels = train_features.pop('prices')
test_labels = test_features.pop('prices')

In [ ]:
#select statistics mean and std
train_dataset.describe().transpose()[['mean', 'std']]

In [ ]:
#normalization
normalizer = preprocessing.Normalization()
normalizer.adapt(np.array(train_features))
print(normalizer.mean.numpy())

In [ ]:
first = np.array(train_features[:1])

with np.printoptions(precision=2, suppress=True):
  print('First example:', first)
  print()
  print('Normalized:', normalizer(first).numpy())

## Linear regression

In [ ]:
#Start with a single-variable linear regression, to predict 'prices' from sqf.create the sqf Normalization layer:
sqf = np.array(train_features['sq_feet'])
sqf_normalizer = preprocessing.Normalization(input_shape=[1,])
sqf_normalizer.adapt(sqf)

In [ ]:
#Build the sequential model 
sqf_model = tf.keras.Sequential([
    sqf_normalizer,
    layers.Dense(units=1)
])
sqf_model.summary()

In [ ]:
sqf_model.predict(sqf[:10])

In [ ]:
sqf_model.compile(
    optimizer=tf.optimizers.Adam(learning_rate=0.1),
    loss='mean_absolute_error')

In [ ]:
%%time
history = sqf_model.fit(
    train_features['sq_feet'], train_labels,
    epochs=100,
    # suppress logging
    verbose=0,
    # Calculate validation results on 20% of the training data
    validation_split = 0.2)

In [ ]:
#Visualize the model's training progress 
hist = pd.DataFrame(history.history)
hist['epoch'] = history.epoch
hist.tail()

In [ ]:
def plot_loss(history):
  plt.plot(history.history['loss'], label='loss')
  plt.plot(history.history['val_loss'], label='val_loss')
  plt.ylim([0, 10000000])
  plt.xlabel('Epoch')
  plt.ylabel('Error [prices]')
  plt.legend()
  plt.grid(True)

In [ ]:
plot_loss(history)

In [ ]:
test_results = {}

test_results['sqf_model'] = sqf_model.evaluate(
    test_features['sq_feet'],
    test_labels, verbose=0)
x = tf.linspace(0.0, 7000, 7001)
y = sqf_model.predict(x)

In [ ]:
def plot_sqf(x, y):
  plt.scatter(train_features['sq_feet'], train_labels, label='Data')
  plt.plot(x, y, color='k', label='Predictions')
  plt.xlabel('sq_feet')
  plt.ylabel('prices')
  plt.legend()

plot_sqf(x, y)

Since used single variable to predict prices didn't have good result and linear relationship, we will try to put multiple variables next

In [ ]:
linear_model = tf.keras.Sequential([
    normalizer,
    layers.Dense(units=1)
])
linear_model.predict(train_features[:10])

In [ ]:
linear_model.layers[1].kernel

In [ ]:
linear_model.compile(
    optimizer=tf.optimizers.Adam(learning_rate=0.1),
    loss='mean_absolute_error')

In [ ]:
%%time
history = linear_model.fit(
    train_features, train_labels, 
    epochs=100,
    # suppress logging
    verbose=0,
    # Calculate validation results on 20% of the training data
    validation_split = 0.2)

In [ ]:
plot_loss(history)

In [ ]:
#Collect the results on the test set
test_results['linear_model'] = linear_model.evaluate(
    test_features, test_labels, verbose=0)

# DNN regression

In [ ]:
def build_and_compile_model(norm):
  model = keras.Sequential([
      norm,
      layers.Dense(64, activation='relu'),
      layers.Dense(64, activation='relu'),
      layers.Dense(1)
  ])

  model.compile(loss='mean_absolute_error',
                optimizer=tf.keras.optimizers.Adam(0.001))
  return model

# One variable

In [ ]:
#Start with a DNN model for a single input: "sq_feet"
dnn_sqf_model = build_and_compile_model(sqf_normalizer)

In [ ]:
dnn_sqf_model.summary()

In [ ]:
#Train the model:
history = dnn_sqf_model.fit(
    train_features['sq_feet'], train_labels,
    validation_split=0.2,
    verbose=0, epochs=100)

In [ ]:
plot_loss(history)

In [ ]:
x = tf.linspace(0.0, 7000, 7001)
y = dnn_sqf_model.predict(x)

In [ ]:
plot_sqf(x, y)

In [ ]:
test_results['dnn_sqf_model'] = dnn_sqf_model.evaluate(
    test_features['sq_feet'], test_labels,
    verbose=0)

In [ ]:
dnn_model = build_and_compile_model(normalizer)
dnn_model.summary()

In [ ]:
%%time
history = dnn_model.fit(
    train_features, train_labels,
    validation_split=0.2,
    verbose=0, epochs=100)

In [ ]:
plot_loss(history)

In [ ]:
#Collect the results on the test set:
test_results['dnn_model'] = dnn_model.evaluate(test_features, test_labels, verbose=0)

In [ ]:
pd.DataFrame(test_results, index=['Mean absolute error [sq_feet]']).T

In [ ]:
#Make predictions
#Finally, predict have a look at the errors made by the model when making predictions on the test set:

In [ ]:
test_predictions = dnn_model.predict(test_features).flatten()

a = plt.axes(aspect='equal')
plt.scatter(test_labels, test_predictions)
plt.xlabel('True Values [sq_feet]')
plt.ylabel('Predictions [sq_feet]')
lims = [0, 50]
plt.xlim(lims)
plt.ylim(lims)
_ = plt.plot(lims, lims)

In [ ]:
#It looks like the model predicts unreasonably 
#let's take a look at the error distribution

In [ ]:
error = test_predictions - test_labels
plt.hist(error, bins=25)
plt.xlabel('Prediction Error [sq_feet]')
_ = plt.ylabel('Count')

In [ ]:
dnn_model.save('dnn_model')

In [ ]:
reloaded = tf.keras.models.load_model('dnn_model')

test_results['reloaded'] = reloaded.evaluate(
    test_features, test_labels, verbose=0)

In [ ]:
pd.DataFrame(test_results, index=['Mean absolute error [sq_feet]']).T

## Non Linear Regression with Keras and Tensorflow Backend

In [ ]:

TrainingSet = train_dataset
ValidationSet = test_dataset

X = pd.DataFrame(dataset1, columns=['beds','baths','sq_feet'])
y = pd.Series(dataset1['prices'])

X1, X2, Y1, Y2 = train_test_split(X, y, test_size=0.2,random_state=0)

# create model
model = Sequential()
model.add(Dense(20, activation="tanh", input_dim=3, kernel_initializer="uniform"))
model.add(Dense(1, activation="linear", kernel_initializer="uniform"))

# Compile model
model.compile(loss='mse', optimizer='adam', metrics=['accuracy'])

# Fit the model
model.fit(X1, Y1, epochs=100, batch_size=10,  verbose=2)

# Calculate predictions
PredTestSet = model.predict(X1)
PredValSet = model.predict(X2)

# Save predictions
numpy.savetxt("trainresults.csv", PredTestSet, delimiter=",")
numpy.savetxt("valresults.csv", PredValSet, delimiter=",")

#Plot actual vs predition for training set
TestResults = numpy.genfromtxt("trainresults.csv", delimiter=",")
plt.plot(Y1,TestResults,'ro')
plt.title('Training Set')
plt.xlabel('Actual')
plt.ylabel('Predicted')

#Compute R-Square value for training set
TestR2Value = r2_score(Y1,TestResults)
print("Training Set R-Square=", TestR2Value)

In [ ]:
#Plot actual vs predition for validation set
ValResults = numpy.genfromtxt("valresults.csv", delimiter=",")
plt.plot(Y2,ValResults,'ro')
plt.title('Validation Set')
plt.xlabel('Actual')
plt.ylabel('Predicted')

#Compute R-Square value for validation set
ValR2Value = r2_score(Y2,ValResults)
print("Validation Set R-Square=",ValR2Value)